*{
  margin: 0;
}

@media screen and (max-width: 900px) {
  .CV{
    background-position: top left;
  } 
}

.header {
  background-color: #004aad;
  padding: 20px;
  width: 100%;
}

.header-elem{
  text-decoration: none;
}

.header-elem:hover{
  text-decoration: underline;
}

.CV {
    color: #004aad;
    font-size: 60px;
    font-family: 'Josefin Sans', sans-serif;
    /* font-weight: 1200; */
    text-align: right;
    /* background: linear-gradient(to right, #004aad, #ffffff); */
    padding: 200px;
    /* border-radius: 30px; */
    background-image: url("/site/images/photo_CV.png");
    background-position:  left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    opacity: 0.8;
  }

.CV:hover{
  opacity: 1;
  text-shadow: 6px 6px 15px rgb(110, 109, 109);

}
  img {
    position: relative;
    height: 300px;
    width: 300px;
  }

  
  .separation {
    padding: 20px;
    background-color: #004aad;
    border-radius: 10px;
  }

  p{
    margin: 20px;
  }

  /* .paragraphs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  } */


center{
  padding-bottom: 40px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 120%;
}

.social-med{
  padding: 50px;
  background-color: rgb(237, 233, 233);
}

form{
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 10%;

}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-linkedin {

  background: #3B5998;
  color: white;
}

/* GitHub */
.fa-github {
  background: #000000;
  color: white;
}

.fa-google{
  background: rgb(218, 0, 0);
  color: white;
}