.CV {
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    text-align: end;
    background: linear-gradient(to right, #004aad, #ffffff);
    /* padding: 10px; */
  
  }
  img {
    height: 300px;
    width: 300px;
    object-position: left;
  }